A user profile for $!cmUser.userName has been created on the Commerce Manager Server with the following temporary password: $newPassword 

The first time you sign in you will be required to change it immediately before you can access the Commerce Manager. 

Best regards,
Your Elastic Path Team
