@import url(fonts-min.css);

/* ----- General Formatting ----- */

body { text-align:center; background-color:#FFF; margin:0; padding:0; margin-top:40px; }
img { border:0px; margin:0px; padding:0px; }
form { margin:0px; padding:0px; display:inline; }

#wrapper { height:400px; width:768px; position:relative; margin:0 auto; padding:0; text-align:left; }
#footer #wrapper { height:0px; }

h1	{ color:#333; font-size:130%; margin:0;}

a:link, a:visited {	text-decoration:underline; color:#C60; }
a:hover { text-decoration:underline; color:#C60; }
a:active { text-decoration:none; color:#526968; }	

#sign-in,#forgot-password { width:300px; }
#box-input { padding-left:30px; border-left:1px solid #ddd; float:left; }
#box-info { width:250px; margin:0 30px 0 0; float:left; }
#box-info .logo { display:block; text-align:center; }

/* ----- Clear Formatting ----- */

.clear1{height:1px;clear:both;overflow:hidden;}
.clear10{height:10px;clear:both;overflow:hidden;}
.clear20{height:20px;clear:both;overflow:hidden;}
.clear40{height:40px;clear:both;overflow:hidden;}
.clear200{height:90px;clear:both;overflow:hidden;}


/* ----- Footer Formatting ----- */

#footer { clear:both; padding-top:20px; padding-bottom: 40px; border-top: 1px solid #999; background:url(../images/bg-footer-grad.gif) repeat-x top left; }
#footer div { width:768px; margin:0 auto; text-align:left;}
#footer div#footer-nav { width:500px; float:left;}
#footer div p { margin-bottom:8px; font-size:92%; }

#footer div#copyright { width:200px; height:40px; float:right; }

/* ----- Fieldset Formatting ----- */

fieldset { position:relative; border:1px solid #ddd; margin:0; padding:15px; }
fieldset h1 { margin-top:0!important; }
fieldset p { margin-top:0!important; }

legend { font-size:135%; line-height:1em; color:#5394cf; padding:0 .25em; margin:0; }

.fieldset-footer { position:relative; top:-1px; border:1px solid #ddd; border-top:0; padding:15px 0 15px 15px; background:url(../images/bg-fieldset.gif) repeat-y left; }

label { display:block; font-size:130%; margin:15px 0 0 0; }
.text-input { font-size:189%; width:260px; font-weight:bold; }
.action { margin:15px 0 0 15px; }


/* ----- Button Formatting ----- */

input.button2 {
	background: #5394cf url(../images/btn-bg-blue.png) top left no-repeat;
	padding: .25em .5em;
	font-size:122%;
	font-weight: bold;
	color: #fff;
	border: 1px solid;
	border-top-color: #95b7e1;
	border-left-color: #95b7e1;
	border-bottom-color: #2b6c8f;
	border-right-color: #2b6c8f;
}
