## Copyright (c) Elastic Path Software Inc., 2006
## forgottenPassword.vm
#set($pageName = "account/forgottenPassword.vm")
#templateInit()
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    #parse("includes/head.vm")
  </head>
  <body>
    <div id="wrapper">
      #parse("includes/header.vm")
      #parse("includes/topmenu.vm")
      <div id="breadcrumb"><strong><a href="$baseUrl/index.ep">#springMessage("globals.bc.home")</a></strong> &raquo; <a href="sign-in.ep">#springMessage("globals.bc.signin")</a> &raquo; #springMessage("globals.bc.forgottenPassword")    
        <div class="clear10"></div>
        <div id="body">
          <form action="forgotten-password.ep" method="post" name="forgottenPasswordForm" type="org.apache.struts.validator.DynaValidatorForm">
            <fieldset>
              <legend>#springMessage("forgottenPassword.requestPassword")</legend>
              #displayGlobalErrors("forgottenPasswordFormBean")
              <p>#springMessage("forgottenPassword.enterEmail")</p>
              <table border="0" cellpadding="3" cellspacing="0">
                <tr>
                  <td align="right">#springMessage("forgottenPassword.emailAddress")</td>
                  <td align="left">#springFormInput("forgottenPasswordFormBean.email" 'maxlength="255" style="width: 200px"')</td>
                  <td align="left">#springShowErrors("<br>" "req")</td>        
                </tr>
                <tr>
                  <td colspan="2"><div class="divider"></div>
                    <div class="form-button">
                      <input value='#springMessage("forgottenPassword.submit")' class="button1" type="submit" />
                    </div>
                  </td>
                </tr>
              </table>
            </fieldset>
          </form>
        </div>
      </div>
      #parse("includes/footer.vm")
    </div>
  </body>
</html>
