## Copyright (c) Elastic Path Software Inc., 2006
## passwordConfirmation.vm
#set($pageName = "account/passwordConfirmation.vm")
#templateInit()
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    #parse("includes/head.vm")
  </head>
  <body>
    <div id="wrapper">
      #parse("includes/header.vm")
      #parse("includes/topmenu.vm")
      <div id="breadcrumb"><strong><a href="$baseUrl/index.ep">#springMessage("globals.bc.home")</a></strong> &raquo; <a href="sign-in.ep">#springMessage("globals.bc.signin")</a> &raquo; #springMessage("globals.bc.forgottenPassword")</div>    
      <div class="clear10"></div>
      <div id="body">
        <h1>#springMessage("passwordConfirmation.emailPassword")</h1>
        <p>#springMessage("passwordConfirmation.passwordSent")</p>
        <p>#springMessage("passwordConfirmation.return")</p>
      </div>
    </div>
    #parse("includes/footer.vm")
  </body>
</html>
