## Copyright (c) Elastic Path Software Inc., 2006
## maintenance.vm
#set($pageName = "maintenance.vm")
#templateInit()
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#set($title = ${sesShoppingCart.store.name} + " #springMessage('maintenance.title')")
	<title>$!title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
	<h1>${sesShoppingCart.store.name} #springMessage('maintenance.title')</h1>
	<p>#springMessage('maintenance.message')</p>
	</div>
</body>
</html>